.message-container {
    max-height: 300px; /* Ajusta la altura máxima del contenedor */
    overflow-y: auto; /* Habilita el scroll vertical cuando se excede la altura */
    border: 1px solid #ccc; /* Opcional: para delimitar visualmente el área */
    padding: 10px;
    border-radius: 5px;
}

.texto-derecha {
    text-align: justify;
    color: black;
}

.foto-seccion-editar {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
